---
---
@import url('https://fonts.googleapis.com/css?family=Hind:300,400');

/* Colours */
$twitter:        #6dabda;
$linkedin:       #2b77b1;
$google-plus:    #c95644;
$github:         #f6c2a4;
$rss:            #eea33a;

$one:   #BAE5C1;
$two: 	#9BBFA1;
$three:   #677F6B;
$four:   #e1ffdca6;

/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Globals */

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	background-color: $four;
	color: white;
	font-size: 16px;
	height: 100%;
}

a, a:active {
	color: $three;
	text-decoration: none;
}

a:hover {
	color: $three;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

hr{
	opacity: 0.1;
}

img{
	max-width: 100%;
}

iframe{
	width: 100%;
}

.content-panel {
	background-color: $two;
	margin-top: 20px;
	font-family: 'Hind', sans-serif;
	box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.1);
	border-bottom: 5px solid $three;
	font-style: normal;
	padding: 20px;
}

.fa {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
	margin-left: 15px;
	float: right;
}

.fa-twitter:hover {
	color: $twitter;
}

.fa-linkedin:hover {
	color: $linkedin;
}

.fa-github-alt:hover {
	color: $github;
}

.fa-rss:hover {
	color: $rss;
}

/* Index */

.home {
	height: 20px;
	max-width: 700px;
	margin: 0 auto;
	background-color: $three;
	box-shadow: 0px 0px 0px 0px, 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.index {
	width: 100%;
	padding: 0px;
	margin: 0 auto;
	margin-bottom: 20px;

	@media (min-width: $screen-sm-min) {
		width: 700px;
		max-width: 700px;
	}

	.header {
		margin-top: 10px;
		font-size: 32px;
		width: 100%;
		color: #6d8866;

		@media (min-width: $screen-lg-min) {
			width: 120%;
		}
	}

	.categories {
		font-size: 22px;
	}

	.content-panel:nth-of-type(1) {
		border-bottom: 10px solid $three;
	}

	.author-header {
		color: $three;
		text-align: right;
	}

	.articles {
		font-size: 16px;

		h2 {
			margin-bottom: 30px;
			color: $three;
			font-size: 26px;
		}

		ul {
			padding: 0px;

			li {
				margin-bottom: 20px;
				font-size: 20px;

				@media (max-width: $screen-sm-min) {
					font-size: 14px;
				}

				a:hover {
					color: $one;
				}

				small {
					font-size: 14px;
					margin-top: -10px;
					padding-top: 0px;
					color: $one;
				}
			}

			li:nth-of-type(1) {
				font-size: 120%;
			}
		}

		a, a:active {
			color: white;
			white-space: nowrap;
		}

		a:hover {
			color: $three;
		}
	}
}
