---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">
        <div class="col-md-12 main content-panel">
            <div class="gravatar">
                <img src="{{ site.baseurl }}/images/profil.png" class="img-circle about-image" height="150" width="150"
                    alt="{{ site.title }}" />
            </div>
            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>
            <div class="author-text">
                {{ site.title_description }}
            </div>
            {% include social_links.html %}
        </div>
        <div class="col-md-12 main content-panel">
            <div class="articles">
                <ul>
                    {% for post in site.posts %}
                    <li>
                        <small class="hidden-xs">{{ post.date | date: "%b %Y" }}</small>
                        <small>
                            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </small>

                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
