---
layout: default
make-smaller-titles: true
---

<div class="container-fluid index">
    <div class="content-panel">
        <h1 class="author-header" itemprop="headline">{{ site.title }}</h1>
        {% include social_links.html %}
    </div>
    <div class="content-panel">
        <div class="articles">
            <ul>
                {% for post in site.posts %}
                <li>
                    <small>{{ post.date | date: "%b %Y" }}</small>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
