---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        - {{ page.categories }}
    </p>
    <div>
      <a style="float: right;" target="_blank" title="Share this on Twitter" href="https://twitter.com/intent/tweet?text={{ page.title }} {{ site.url }}{{ page.url | relative_url }}">
        <svg class="svg-icon" style="fill: #1DA1F2;">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
        </svg>
      </a>
      <h1 style="float: left;" class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
