---
layout: default
---

<div class="container-fluid single">
  <div class="row">
    <div itemscope itemtype="http://schema.org/Article" class="col-md-12 article">
      <h1 class="header" itemprop="name">{{ page.title }}</h1>
      <div class="content-panel content">
        <span itemprop="articleBody">{{ content }}</span>

        {% if page.tags and page.tags.size > 0 %}
        <div class="tags">
          <small>
          <i class="fa fa-tags"></i>
            {{ page.tags | join: ', ' }}
          </small>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
